# hide all dot files/dirs with 404
RewriteRule (^\.|/\.) - [R=404]
RewriteRule Makefile - [R=404]
RewriteRule ^bin/ - [R=404]

# home page in www
RewriteRule ^$ www/index.html [L]

# send all 404s to www/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ www/$1 [L]

ErrorDocument 404 /www/404.html

